@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Contact information and Social media links";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <p>Add social media buttons(API or links)</p>

</address>
<div class="share-btn-contact">
    <a href="https://www.facebook.com/simeon.strydom/">
        <i class=" fab fa-facebook"></i>
    </a>
    <a href="https://www.linkedin.com/in/simeon-strdom-08185848/">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/SimeonStrydom?tab=repositories">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://discord.com/channels/DustanCroft#4251">
        <i class="fab fa-discord"></i>
    </a>
    <a href="#" class="whatsapp-btn">
        <i class="fab fa-whatsapp"></i>
    </a>
</div>

<address>
    <strong>Support:</strong> <a href="mailto:simeon.strydom@gmail.com">simeon.strydom@gmail.com</a><br />

</address>
